<%= form_tag sessions_path do %>
	<div id="dash_login">
		<div id="brand">
		    <div id="main_image">
		    	<%= image_tag src="kanamobi_logo.png" %>
			</div>
		</div>
	</div>

	<div id="dash_form">

	<div id="form_login">
		<p class="field">
			<%= label_tag :email, "e-mail" %><br />
		    <%= text_field_tag :email, params[:email] %>
		</p>
		<p class="field">
		    <%= label_tag :password, "senha" %><br />
		    <%= password_field_tag :password %>
		</p>
		<p>
			<%= link_to "Esqueci minha senha", forgot_password_path, :rel => "modal:open" %>
		</p>


		<div class="field fRight">
			<p class="button"><%= submit_tag "Entrar" %></p>
		</div>
			
		<div class="clear"></div>
		<div class="fLeft">
			<% flash.each do |name, msg| %>
			  <%= content_tag :div, msg, :id => "flash_#{name}", :class => "message"%>
			<% end %>
		</div>
	</div>
	</div>


<% end %>