  <script type="text/javascript">
    $(document).ready(function() {
    	
	  $('#sheet_path').customFileInput();
    	
      $("#link").click(function () {
        $("#hidden").toggleClass("hidden");
      });
    });
  </script>
<% erro = @erro %>
<%= form_for(@sheet, :multipart => :true, :remote => true) do |f| %>

  <%= erro = @erro %>

  <div class="field">
    <div><%= f.label :path, "CARREGAR ARQUIVO" %></div>
    <div style="width:440px;"><%= f.file_field :path %></div>
    <div><span class="message"><%= @sheet.errors[:path] %></span></div>
  </div>
  
  <div id="hidden" class="hidden" style="margin-bottom: 20px;">
    <center><%= image_tag "loading.gif" %> <span style="padding: 0px 0px 10px 0px;">Carregando</span> </center>
  </div>

  <div class="actions fRight marginTop_15" style="margin-right: 40px; margin-bottom: 15px;">
    <%= f.submit "OK", :id => "link" %>
  </div>

<% end %>
