<% if @sheet.errors.any? %>
  console.log('Error');
  $('#form_sheet').html('<%= escape_javascript(render('form_sheet')) %>');
<% else %>
	$(".display").toggleClass("display");
  console.log('Created');
  $.modal.close();
<% end %>
