<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @sheet.path %>
</p>

<p>
  <b>Campain:</b>
  <%= @sheet.campain_id %>
</p>


<%= link_to 'Edit', edit_sheet_path(@sheet) %> |
<%= link_to 'Back', sheets_path %>
