<script type="text/javascript">
	function validateNewPassword() {
		var newPassword = $("#new_password").attr("value");
		var newPasswordConfirmation = $("#new_password_confirmation").attr("value");	

		if (newPassword != newPasswordConfirmation) {
			$(".password-message").html("Senhas não conferem");
			$("#submit_password").attr('disabled', 'disabled');
		} else {
			$(".password-message").html("");
			$("#submit_password").removeAttr('disabled');
		}
	}
</script>

<%= form_tag("update_password_action", :multipart => true, :remote => true) do |f| %>

	<div class="field">
    <%= label_tag :password, "SENHA ATUAL*" %>
    <%= password_field_tag :password, params[:password] %>
    <span class="message hidden" id="password_error" ><%= @error %></span>
  </div>

  <div class="field">
    <%= label_tag :new_password, "NOVA SENHA*" %>
    <%= password_field_tag :new_password, params[:new_password], :id => "new_password", :onkeyup => "validateNewPassword()" %>
    <br/>
    <span class="message hidden new_password_error" ><%= @error_new_password %></span>
  </div>

  <div class="field">
    <%= label_tag :password_confirmation, "CONFIRMAÇÃO DE SENHA*" %>
    <%= password_field_tag :password_confirmation, params[:password_confirmation], :id => "new_password_confirmation", :onkeyup => "validateNewPassword()" %>
    <span class="message password-message"></span>
  </div>

	<div class="fRight marginTop_15" style="margin-right: 40px; margin-bottom: 15px;">
  	<%= submit_tag "Salvar", :id => "submit_password" %>
  </div>

<% end %>