<%= form_tag("users/send_password_email") do %>
  	
  	<div class="field">
		<span>Digite seu e-mail para recuperar a senha</span>
		<%= text_field_tag :email, params[:email] %>
	</div>
	<div class="fRight marginTop_5" style="margin-right: 40px; margin-bottom: 20px;">
		<%= submit_tag "Ok" %>
	</div>

  
<% end -%>