<script type="text/javascript">
  $(document).ready(function() {
  	$('#user_logo').customFileInput();

  });

  function validateClientName(value) {
    var clientName = "<%= @user.name %>";
    clientName = clientName.toString();
    $("#client-name-message").html("");

    if (value.toUpperCase() == clientName.toUpperCase() && clientName != '') {
      console.log("aste");
      $("#submit_user").removeAttr('disabled');
      $("#client-name-message").html("")
      return;
    };
    
    var n = "<%= User.all.map { |e| "#{e.name}," } %>";
    var names = new Array();
    var tmp = "";
    for (var i = 0; i < n.length; i++) {
      if (n[i] != ',') {
         tmp += n[i];
      } else {
        names.push(tmp);
        tmp = "";
      }
    };

    if (value == '') {
      $("#client-name-message").html("Nome do cliente não informado.");
      $("#submit_user").attr('disabled', 'disabled');
      return;
    }
    for (var i = 0; i < names.length; i++) {
      if (value.toUpperCase() == names[i].toUpperCase()) {
        $("#client-name-message").html("Cliente já registrado no sistema.");
        $("#submit_user").attr('disabled', 'disabled');
        return;
      };
    };

    $("#submit_user").removeAttr('disabled');

  }

  function validateClientEmail(value) {
    var clientEmail = "<%= @user.email %>";
    clientEmail = clientEmail.toString();
    $("#client-email-message").html("");
    console.log(clientEmail);

    if (value.toUpperCase() == clientEmail.toUpperCase() && clientEmail != '') {
      $("#submit_user").removeAttr('disabled');
      $("#client-email-message").html("")
      return;
    };

    var e = "<%= User.all.map { |e| "#{e.email}," } %>";
    var emails = new Array();
    var tmp = "";
    for (var i = 0; i < e.length; i++) {
      if (e[i] != ',') {
         tmp += e[i];
      } else {
        emails.push(tmp);
        tmp = "";
      }
    };

    if (value == '') {
      $("#client-email-message").html("Email do cliente não informado.");
      $("#submit_user").attr('disabled', 'disabled');
      return;
    }
    for (var i = 0; i < emails.length; i++) {
      if (value == emails[i]) {
        $("#client-email-message").html("Cliente já registrado no sistema.");
        $("#submit_user").attr('disabled', 'disabled');
        return;
      };
    };
    $("#submit_user").removeAttr('disabled');

  }

  function validateClientPassword(password) {
    var passwordConfirmation = document.getElementById('password-confirmation').value;
    if (passwordConfirmation != '') {
      if (password != passwordConfirmation) {
        $(".client-password-message").html("Senhas não conferem.");
      } else {
        $(".client-password-message").html("");
        $("#submit_user").removeAttr('disabled');
      }
    };
  }

  function validateClientPasswordConfirmation(passwordConfirmation) {
    var password = document.getElementById('password').value;
    if (password != passwordConfirmation) {
      $(".client-password-message").html("Senhas não conferem.");
    } else {
      $(".client-password-message").html("");
      $("#submit_user").removeAttr('disabled');

    }
  }

  function validateFields() {
    var name = document.getElementById("name").value;
    var email = document.getElementById("email").value;
    var password = document.getElementById("password").value;
    var clientName = "<%= @user.name %>";
    clientName = clientName.toString();

    if (email == "") {
      $("#client-email-message").html("Email do cliente não informado.");
    } 
    if (name == "") {
      $("#client-name-message").html("Nome do cliente não informado.");
    }
    if (password == "" && clientName == "") {
      $("#client-password-message").html("Senha inválida.");
    }

    if ($("#client-email-message").html() !== "" || $("#client-name-message").html() !== "" || $("#client-password-message").html() !== "" || $("#client-password-message").html() !== "") {
      $("#submit_user").attr('disabled', 'disabled');
    };
  }
</script>

<%= form_for(@user, :multipart => true, :remote => true) do |f| %>

  <div class="field">
    <%= f.label :name, "CLIENTE*" %>
    <%= f.text_field :name, :id => "name", :onkeyup => "validateClientName(this.value)" %>
    <span class="message" id="client-name-message"></span>
  </div>

  <div class="field">
    <%= f.label :contact, "CONTATO" %>
    <%= f.text_field :contact %>
  </div>

  <div class="field">
    <div>
    	<%= f.label :logo, "LOGO" %>
    </div>
    
    <div>
	    <div class="fLeft" style="width:283px;">
		    <%= f.file_field :logo, :id => "user_logo"%>
    	</div>
    	<div id="logo_info" class="fLeft">
		    <div>Arquivo em PNG ou JPG</div>
		    <div>com 314 x 274 px</div>
    	</div>
    </div>
  </div>
  
  <div class="clear"></div>

  <div class="field">
    <%= f.label :email, "E-mail*" %>
    <%= f.text_field :email, :id => "email", :onkeyup => "validateClientEmail(this.value)" %>
    <span class="message" id="client-email-message"></span>
  </div>

  <div class="field">
    <%= f.label :password, "Senha*" %>
    <%= f.password_field :password, :id => "password", :onkeyup => "validateClientPassword(this.value)" %>
    <span class="message" id="client-password-message"></span>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmação de senha*" %>
    <%= f.password_field :password_confirmation, :id => "password-confirmation", :onkeyup => "validateClientPasswordConfirmation(this.value)" %>
    <span class="message client-password-message" id="client-password-confirmation-message"></span>
  </div>

	<div class="fLeft marginTop_15 bold marginLeft25" style="font-size:12px;">
		<label class="field_required">*campos obrigatórios</label>
	</div>
				
	<div class="fLeft marginTop_15 marginLeft25">
		<% if !@user.id.nil? %>
			<p><%= link_to 'Apagar', @user, :id => 'cancel', :method => :delete, :data => { :confirm => 'Essa ação irá apagar o cliente e todos os seus registros. Deseja continuar?' } %></p>
		<% end %>
	</div>
					
	<div class="fRight marginTop_15" style="margin-right: 40px; margin-bottom: 15px;">
		<p class="button"><%= f.submit "Salvar", :id => "submit_user", :onclick => "validateFields()" %></p>
	</div>
  
<% end %>