<% if !@error.nil? || !@error_new_password.nil? %>
	$('#form_edit_password').html('<%= escape_javascript(render('form_password')) %>');
	$("#password_error").removeClass("hidden");
	$(".new_password_error").removeClass("hidden");
<% else %>
	$(window.location.replace("/users/<%= current_user.id %>"));
<% end %>