<% if @user.errors.any? %>
  console.log('Error');
  $('#form_user').html('<%= escape_javascript(render('form_user')) %>');
<% else %>
  console.log('Created');
  $.modal.close();
  <% if session[:campain_id_for_select_tag].nil? %>
  	$(window.location.replace("/users/<%= session[:user_id_for_select_tag] %>"));
	<% else %>
		$(window.location.replace("/campains/<%= session[:campain_id_for_select_tag] %>"));
	<% end %>
<% end %>