<% user = User.find(session[:user_id_for_select_tag]) if session[:user_id_for_select_tag] %>
<% if !user.nil? && !user.campains.empty? %>
		<span><%= user.campains.minimum("from").strftime("%d/%m/%Y") %>&nbsp;&nbsp; A &nbsp;&nbsp;<%= user.campains.maximum("to").strftime("%d/%m/%Y") %></span>
<% else %>
<% end %>