<script type="text/javascript">
  $(document).ready(function() {
    $(".datepicker1").datepicker({
            dateFormat: "dd/mm/yy",
            altFormat: "yy-mm-dd",
            altField: "#hidden-date1",
            dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
		    dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
		    dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
		    monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
		    monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
		    nextText: 'Próximo',
		    prevText: 'Anterior'

          });
          $(".datepicker2").datepicker({
            dateFormat: "dd/mm/yy",
            altFormat: "yy-mm-dd",
            altField: "#hidden-date2",
            dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
		    dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
		    dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
		    monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
		    monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
		    nextText: 'Próx.',
		    prevText: 'Anterior'
          });
  });

  function mudarTexto1() {
    if ($(".datepicker1").val() == '') {
      $("#hidden-date1").val('');  
      return;
    };
    var data = $(".datepicker1").val().split("/")
    var novaData = data[2] + "-" + data[1] + "-" + data[0];
    $("#hidden-date1").val(novaData);
    validateDate();
  }

  function mudarTexto2() {
    if ($(".datepicker2").val() == '') {
      $("#hidden-date2").val('');  
      return;
    };
    var data = $(".datepicker2").val().split("/")
    var novaData = data[2] + "-" + data[1] + "-" + data[0];
    $("#hidden-date2").val(novaData);
    validateDate();
  }

  function validateDate() {
    var from = Date.parse(document.getElementById("hidden-date1").value);
    var to = Date.parse(document.getElementById("hidden-date2").value);

    if (to < from) {
      $("#date-message").html("Data inicial é maior que a data final.");
      $("#submit_campain").attr('disabled', 'disabled');
    } else {
      $("#date-message").html("");
      $("#submit_campain").removeAttr('disabled');
    }
  }
</script>

<%= form_for(@campain, :remote => true) do |f| %>
  
  <div class="field">
    <%= f.label :name, "CAMPANHA*" %>
    <%= f.text_field :name %>
    <span class="message"><%= @campain.errors[:name] %></span>
  </div>

  <div class="field" id="date_field">
    <div><%= f.label :from, "PERÍODO*" %></div>
    <div><%= f.text_field :from, :id => "hidden-date1", :class => "hidden" %></div>
    <% if !@campain.from.nil? %>
      <input type="text" class="datepicker1" id="datepicker1" value="<%= @campain.from.strftime("%d/%m/%Y") %>" onchange="mudarTexto1();"></input>
    <% else %>
      <input type="text" class="datepicker1" id="datepicker1" onchange="validateDate()"></input>
    <% end %>

    <span style="margin: 15px;">  A  </span> 
    <% if !@campain.to.nil? %>
      <input type="text" class="datepicker2" id="datepicker2" value="<%= @campain.to.strftime("%d/%m/%Y") %>" onchange="mudarTexto2();"></input>
    <% else %>
      <input type="text" class="datepicker2" id="datepicker2" onchange="validateDate()"></input>
    <% end %>
    <%= f.text_field :to, :id => "hidden-date2", :class => "hidden" %>

    <div>
      <span class="message" id="date-message"></span>
      <span class="message fLeft"><%= @campain.errors[:from] %></span>
      <span class="message fRight" style="margin-right: 68px"><%= @campain.errors[:to] %></span>
    </div>
    <div class="clear"></div>
    
  </div>

	<div class="field">
  		<div><%= f.label :campain_type, "TIPO DE CAMPANHA*" %></div>
		
		<% if @campain.id.nil? %>
    <%= f.radio_button :campain_type, 1 %>SMS<br/>
    <%= f.radio_button :campain_type, 2 %>Geo Mídia<br/>

			<div><span class="message"><%= @campain.errors[:campain_type] %></span></div>
		
		<% else %>
			<div class="marginLeft25 marginTop3">
		      	<%= campain_type(@campain) %><br />
			</div>	
		<% end %>
    </div>

  <div class="fLeft marginTop_15 bold marginLeft25">
	<label class="field_required">*campos obrigatórios</label>
  </div>

  <div class="fLeft marginTop_15 marginLeft25" >
	<% if !@campain.id.nil? %>
		<p><%= link_to 'Apagar', @campain, :id => 'cancel', :method => :delete, :data => { :confirm => 'Essa ação irá apagar a campanha e todos os seus registros. Deseja continuar?' } %></p>
	<% end %>
  </div>

  <div class="actions fRight marginTop_15" style="margin-right: 40px; margin-bottom: 15px;">
    <%= f.submit "Salvar", :id => "submit_campain" %>
  </div>

<% end %>
