<% if @campain_type == 1 %>

	<table id="sms_datatable">
	  	<thead>
			<tr>
	   	 	    <th class="first_child left_child padding_left">IMPACTOS</th>
				<th class="left_child">DATA</th>
	        	<th class="left_child">HORA</th>
	    	    <th class="left_child padding_left" style="width:450px;" >FRASEOLOGIA</th>
		        <th class="left_child">STATUS</th>
		        <th class="left_child">OPERADORA</th>
	        	<th class="last_child left_child">REGIÃO</th>
			</tr>
		</thead>
	
		<tbody>
		  <% @infos.each do |info| %>
		      <tr>
		        <td class="first_child left_child padding_left"><%= info.impact %></td>
		        <td class="center_child"><%= get_formatted_date(info.date) %></td>
		        <td class="center_child"><%= get_formatted_time(info.date) %></td>
		        <td class="left_child padding_left"><%= info.phraseology %></td>
		        <td class="center_child"><%= info.status %></td>
		        <td class="center_child"><%= info.operator %></td>
		        <td class="center_child"><%= get_region(info.region_id) %></td>
		    </tr>
		  <% end %>
		</tbody>
		<tfoot>
			<tr>
				<th class="only_child"></td>
			</tr>	
		</tfoot>
	</table>

<% else %>

<% if !@campain.infos.first.prints.nil? %>
	<table id="livescreen_datatable_with_prints">
	  	<thead>
	  		<tr>
	        	<th class="first_child center_child">DATA</th>
	        	<th class="center_child">HORA</th>
	        	<th class="left_child padding_left" style="width:450px;">FRASEOLOGIA</th>
	        	<th class="center_child">BROADCAST</th>
	        	<th class="last_child center_child">CLICKS</th>
	        	<th class="last_child center_child">REGIÃO</th>
	        	<th class="last_child center_child">IMPRESSÕES</th>
	        	
	      	</tr>
	  	</thead>
	
		<tbody>
		  	<% @infos.each do |info| %>
		      	<tr>
		        	<td class="first_child center_child"><%= get_formatted_date(info.date) %></td>
		        	<td class="center_child"><%= info.hour %></td>
		        	<td class="left_child padding_left"><%= info.phraseology %></td>
		        	<td class="center_child"><%= info.broadcast %></td>
		        	<td class="center_child"><%= info.clicks %></td>
		        	<td class="center_child"><%= Region.find(info.region_id).name %></td>
		       		<td class="center_child"><%= info.prints %></td>
		    	</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<th class="only_child"></td>
			</tr>	
		</tfoot>
	</table>

	<% else %>
		<table id="livescreen_datatable">
	  	<thead>
	  		<tr>
	        	<th class="first_child center_child">DATA</th>
	        	<th class="center_child">HORA</th>
	        	<th class="left_child padding_left" style="width:450px;">FRASEOLOGIA</th>
	        	<th class="center_child">BROADCAST</th>
	        	<th class="last_child center_child">CLICKS</th>
	        	<th class="last_child center_child">REGIÃO</th>
	        	
	      	</tr>
	  	</thead>
	
		<tbody>
		  	<% @infos.each do |info| %>
		      	<tr>
		        	<td class="first_child center_child"><%= get_formatted_date(info.date) %></td>
		        	<td class="center_child"><%= info.hour %></td>
		        	<td class="left_child padding_left"><%= info.phraseology %></td>
		        	<td class="center_child"><%= info.broadcast %></td>
		        	<td class="center_child"><%= info.clicks %></td>
		        	<td class="center_child"><%= Region.find(info.region_id).name %></td>
		    	</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<th class="only_child"></td>
			</tr>	
		</tfoot>
	</table>

	<% end %>

<% end %>

