<% if @campain.errors.any? %>
  console.log('Error');
  $('#form_campain').html('<%= escape_javascript(render('form_campain')) %>');
<% else %>
  console.log('Created');
  $.modal.close();
  <% session[:campain_id_for_select_tag] = @campain.id %>
  $(window.location.replace("/campains/<%= @campain.id %>"))
<% end %>
