<h1>Lista de campanhas</h1>

<table id="datatable">
	<thead>
		  <tr>
    <th>Nome</th>
    <th>De</th>
    <th>Até</th>
    <th>Tipo campanha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

	</thead>

<tbody>
	<% @campains.each do |campain| %>
  <tr>
	<td><%= campain.name %></td>
	<td><%= campain.from %></td>
	<td><%= campain.to %></td>
	<td><%= campain_type(campain) %></td>
	<td><%= link_to 'Ver', campain %></td>
	<td><%= link_to 'Editar', edit_campain_path(campain), :class => 'dialog_form' %></td>
	<td><%= link_to 'Apagar', campain, :method => :delete, :data => { :confirm => 'Essa ação irá apagar a campanha e todos os seus registros. Deseja continuar?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
