<script type="text/javascript">
  var deliveredChart;
  var regionChart;
  var operatorChart;
  var regionChartLivescreen;

  $(function () {
    deliveredChart = new Highcharts.Chart({
        
        chart: {
            renderTo: 'delivered',
            backgroundColor:'#f5f5f5'
        },

        title: {
                text: false
        },

        tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage}%</b>',
              percentageDecimals: 1
            },

        
        credits: {
            enabled: false
        },
        
		colors: [
					'#37ad00', 
					'#fa1d00' 
				],
        
		plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        			enabled: false                    
                        		},
                   showInLegend: false,
                    size: "90%",
					center: [75, 63]

                }
		},

		series: [{
                type: 'pie',
                name: 'Quantidade',
                data: [
                    <% if @delivered != 0 %>
                      ['Entregues', <%= @delivered %>],
                    <% end %>
                    <% if @undelivered != 0 %>
                      ['Não entregues', <%= @undelivered %>]
                    <% end %>
                ]
            }]
       }); 
    });

  $(function () {
    var s = "<%= @operators %>";
    // var tamanho = parseInt(s);
    // array = new Array(s);

    // alert(new Array(s));

    // for (var i = 0; i <= array.length; i++) {
    //   console.log(array[i]);
    // };

	someVar = [{title: s, amount: 50},{title: "Food", amount: 25},{title: "Recreation", amount: 10}]

	data = $.map(someVar, function(i) { return [[i.title, i.amount]]; })
	regionChart = new Highcharts.Chart({
        
        chart: {
            renderTo: 'region',
			backgroundColor:'#f5f5f5'

        },

        title: {
                text: false
        },

        tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage}%</b>',
              percentageDecimals: 1
            },

        legend: {
	            layout: 'vertical',
	            floating: true,
	            align: 'right',
	            verticalAlign: 'bottom',
				x: 0,
				y: -5,
	            border: 0, 
	            borderRadius: 0, 
	            borderWidth: 0
		},
        
        credits: {
            enabled: false
        },
        
         plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false                    },
                    showInLegend: true,
					center: [55, 63],
					size: "90%",
                }
		},

      
		series: [{
                type: 'pie',
                name: 'Quantidade',
 				data: [
                    <% if @norte != 0 %>
		 				{
							name: 'Norte',
							color: '#ff7200',
							y: <%= @norte %>
						},
                    <% end %>
                    <% if @nordeste != 0 %>
						{
							name: 'Nordeste',
							color: '#988620',
							y: <%= @nordeste %>
						},
                    <% end %>
                    <% if @centro_oeste != 0 %>
						{
							name: 'Centro-Oeste',
							color: '#254b25',
							y: <%= @centro_oeste %>
						},
                    <% end %>
                    <% if @sudeste != 0 %>
						{
							name: 'Sudeste',
							color: '#1b2e74',
							y: <%= @sudeste %>
						},
                    <% end %>
                    <% if @sul != 0 %>
						{
							name: 'Sul',
							color: '#209883',
							y: <%= @sul %>
						},
                    <% end %>
				] 
            }]
       }); 
    });

 $(function () {
    operatorChart = new Highcharts.Chart({
        
        chart: {
            renderTo: 'operator',
            backgroundColor:'#f5f5f5'	            
        },

        title: {
                text: false
        },
        
        credits: {
            enabled: false
        },

        tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage}%</b>',
              percentageDecimals: 1
            },
        
		legend: {
	            layout: 'vertical',
	            floating: true,
	            align: 'right',
	            verticalAlign: 'bottom',
				x: -10,
				y: -5,
	            border: 0, 
	            borderRadius: 0, 
	            borderWidth: 0
		},

         plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false                    },
                    showInLegend: true,
					center: [70, 63],
					size: "90%",
                }
		},

      
		series: [{
                type: 'pie',
                name: 'Quantidade',
 				data: [
                    <% if (!@oi.nil?) && (@oi != 0) %>
						{
							name: 'OI',
							color: '#f2ae02',
							y: <%= @oi %>
						},
                    <% end %>
                    <% if (!@vivo.nil?) && (@vivo != 0) %>
						{
							name: 'VIVO',
							color: '#670794',
							y: <%= @vivo %>
						},
                    <% end %>
                    <% if (!@claro.nil?) && (@claro != 0) %>
						{
							name: 'CLARO',
							color: '#a61005',
							y: <%= @claro %>
						},
                    <% end %>
                    <% if (!@tim.nil?) && (@tim != 0) %>
		 				{
							name: 'TIM',
							color: '#3463e3',
							y: <%= @tim %>
						}
                    <% end %>
				] 
            }]
       }); 
    });

  $(function () {
    regionChartLivescreen = new Highcharts.Chart({
        
        chart: {
            renderTo: 'regionLivescreen',
            backgroundColor:'#f5f5f5'
        },

        title: {
                text: false
        },

        legend: {
              layout: 'vertical',
              floating: true,
              align: 'right',
              verticalAlign: 'bottom',
        x: -10,
        y: -5,
              border: 0, 
              borderRadius: 0, 
              borderWidth: 0
          },
        
        credits: {
            enabled: false
        },

        tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage}%</b>',
              percentageDecimals: 1
		},
        
         plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false,                    },
                    showInLegend: true,
          			center: [70, 63],
          			size: "90%",
                }
		},
      
		series: [{
                type: 'pie',
                name: 'Quantidade',
 				data: [
                    <% if @norte != 0 %>
		 				{
							name: 'Norte',
							color: '#ff7200',
							y: <%= @norte %>
						},
                    <% end %>
                    <% if @nordeste != 0 %>
						{
							name: 'Nordeste',
							color: '#988620',
							y: <%= @nordeste %>
						},
                    <% end %>
                    <% if @centro_oeste != 0 %>
						{
							name: 'Centro-Oeste',
							color: '#254b25',
							y: <%= @centro_oeste %>
						},
                    <% end %>
                    <% if @sudeste != 0 %>
						{
							name: 'Sudeste',
							color: '#1b2e74',
							y: <%= @sudeste %>
						},
                    <% end %>
                    <% if @sul != 0 %>
						{
							name: 'Sul',
							color: '#209883',
							y: <%= @sul %>
						},
                    <% end %>
				] 
            }]
       }); 
    });


$(document).ready(function() {
  <% if @showSMS %>
    $("#charts").removeClass("hidden");
    $("#livescreen").addClass("hidden");
    $("#message_empty_infos").addClass("hidden");
  <% elsif @showLivescreen %>
    $("#charts").addClass("hidden");
    $("#livescreen").removeClass("hidden");
    $("#message_empty_infos").addClass("hidden");
  <% end %>
});

function exportSMS() {
  var imageURL = '';
  var chartDelivered = deliveredChart.getSVG();
  var chartRegion = regionChart.getSVG();
  var chartOperator = operatorChart.getSVG();
  var startDate = $("#date-range-field span").html().replace(/[&]nbsp[;]/gi, '').split(" A ")[0];
  var endDate = $("#date-range-field span").html().replace(/[&]nbsp[;]/gi, '').split(" A ")[1];
  $.ajax({
      type: 'POST',
      data: {delivered: chartDelivered, region: chartRegion, operator: chartOperator, start: startDate, end: endDate},
      url: "/campains/get_svg",
      async: false,
      success: function(data) {
          imageURL = data;
           // alert(imageURL);
      }

  });
}

function exportGeoMidia() {
  var imageURL = '';
  var chartRegion = regionChartLivescreen.getSVG();
  var startDate = $("#date-range-field span").html().replace(/[&]nbsp[;]/gi, '').split(" A ")[0];
  var endDate = $("#date-range-field span").html().replace(/[&]nbsp[;]/gi, '').split(" A ")[1];
  $.ajax({
      type: 'POST',
      data: {region: chartRegion, start: startDate, end: endDate},
      url: "/campains/get_svg",
      async: false,
      success: function(data) {
          imageURL = data;
           // alert(imageURL);
      }

  });
}

function waitingAnimation() {
	$("#spinner").removeClass("hidden");
	$("#bloqueio_fundo").removeClass("hidden");
	setTimeout(
		function(){
			$("#spinner").addClass("hidden");
			$("#bloqueio_fundo").addClass("hidden");
		}, ('<%= Campain.find(params[:id]).infos.count / 2 %>'));
}


</script>

<%= content_for :export  do %>
  <ul id="nav">
	<li><span>Exportar</span>
    	<ul>
        	<li><%= link_to "EXCEL (.XLS)", export_spreadsheet_path, :onclick => "waitingAnimation()" %></li>
			
			<% if @campain.campain_type == 1 %>
            	<li class="underline"><%= link_to "PDF", campain_path(@campain, :format => :pdf), :target => "_blank", :onclick => "exportSMS()" %></li>
			<% else %>
            	<li class="underline"><%= link_to "PDF", campain_path(@campain, :format => :pdf), :target => "_blank", :onclick => "exportGeoMidia()" %></li>
			<% end %>
		</ul>
	</li>    
  </ul>
<% end %>


<div id="container_main">

	<div id="spinner" class="hidden">
    	<center><%= image_tag "loading.gif" %></center>
    	<br>
    	<center> <span> A planilha está sendo gerada.</span> </center>
    	<center> <span> Por favor, aguarde...</span> </center>
  	</div>
    <div id="bloqueio_fundo" class="hidden"></div>

	<div id="charts" class="hidden">
	  <div class="impact_box" id="impacts">
		<h2>
			IMPACTOS
		</h2>
		<div id="big_number_impact">
			<%= @campainTableHelper.impacts unless @campainTableHelper.nil? %>
		</div>
	  </div>

	  <div class="chart_divider"></div>
	  
	  <div class="delivered_box">
		<h2>
			ENTREGUES
		</h2>

	  	<div id="delivered" ></div>
	  </div>

	  <div class="chart_divider"></div>
	  
	  <div class="region_box">
		<h2>
			REGIÕES
		</h2>

	  	<div id="region" ></div>
	  </div>

	  <div class="chart_divider"></div>
	  
	  <div class="operator_box">
		<h2>
			OPERADORAS
		</h2>

	  	<div id="operator" ></div>
	  </div>

	  <div class="chart_divider"></div>
	  
	  <div class="day_box" id="days">
		<h2>
			DIAS
		</h2>
		<div id="big_number_day">
			<%= @days %>
		</div>
	  </div>
	</div>
	
	<div id="livescreen" class="hidden">
		<div class="clicks_box" id="clicks">
			
			<% if !@total_prints.nil? %>
				<h2>TOTAL DE IMPRESSÕES</h2>
				<div id="big_number_clicks"><%= @total_prints %></div>
			<% else %>
				<h2>TOTAL DE CLIQUES</h2>
				<div id="big_number_clicks"><%= @total_clicks %></div>
			<% end %>

		</div>
			
		<div class="chart_divider"></div>
	
		<div class="broadcasts_box" id="broadcasts">
			<h2>
				BROADCASTS
			</h2>
			<div id="big_number_day">
        		<%= @total_broadcast %>
			</div>
		</div>
			
		<div class="chart_divider"></div>
	
		<div class="broadcast_clicks_box" id="broadcast_clicks">
			<h2>
				CLICKS POR BROADCAST
			</h2>
			<div id="big_number_day">
				<%= @clicks_per_broadcast %>
			</div>
		</div>
			
		<div class="chart_divider"></div>
	
	  	<div class="region_box">
			<h2>
				REGIÕES
			</h2>
	
			<div id="regionLivescreen" ></div>
		</div>
	
		<div class="chart_divider"></div>
	
		<div class="day_box" id="days">
			<h2>
				DIAS
			</h2>
			<div id="big_number_day">
					<%= @days %>
			</div>
		</div>
	</div>

	<div class="clear"></div>
		
	<% if !@infos.empty? %>
		<div id="tale_container">
    		<%= render :partial => "info_list" %>
		</div>
  	<% end %>

</div>
