<% if @campain.errors.any? %>
  console.log('Error');
  $('#form_campain').html('<%= escape_javascript(render('form_campain')) %>');
<% else %>
  console.log('Updated');
  $.modal.close();
  $(window.location.replace("/campains/<%= session[:campain_id_for_select_tag] %>"))
<% end %>
