/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */
@font-face {
  font-family: Infinity;
  src: local(Infinity), url("/stylesheets/Infinity.ttf") format("truetype"); 
}

* {
  font-family: "Lucida","Arial",Sans-serif;
  outline: none;
  border: none;
  /*color: #666666;*/
   padding: 0;
  margin: 0;
  -webkit-appearance: none; }

html, body {
  height: 100%;
  min-width: 1110px;
  width: 100%;
  margin: 0 auto; }

input[type="text"], input[type="password"] {
  margin: 3px 0px 3px 0px;
  color: white;
  background-color: #6e6e6e;
  width: 410px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  font-weight: normal;
  padding: 0 12px 0 12px; }

/*input[type="file"] {
  margin: 3px 0px 3px 0px;
  color: white;
  background-color: #6e6e6e;
  width: 410px;
  height: 23px;
  font-size: 12px;
  font-weight: normal;
  padding: 5px 12px 0 12px; } */

input[name="user[logo]"] {
  width: 250px; 
}

select{
  margin: 3px 0px 3px 0px;
  width: 410px;
  height: 28px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 12px 0 12px;
  cursor: pointer;}

input[type="submit"] {
  color: white;
  border: 1px solid #392a57;
  background-color: #392a57;
  font-weight: normal;
  height: 40px;
  font-size: 14px;
  width: 120px;
  cursor: pointer; }

input[type="submit"]:hover {
  background-color: #442682;
}

input[type="radio"] {
  width: 15px;
  -webkit-appearance: radio; }
  
button {
  background-color: #666666;
  color: #cccccc;
  border-radius: 7px;
  font-size: 14px;
  font-weight: bold;
  width: auto;
  padding: 5px 10px 5px 10px;
  margin: 2px 2px 8px 2px; }

button:hover {
  color: #FFFFFF;
  cursor: pointer; }

option {
  height: 23px; }

label {
  font-size: 14px;
  color: #3c2d61;
  margin-top: 4px;
  font-weight: normal; }

h2 {
  padding-left: 2px;
  font-size: 19px;}

a {
  display: inline-block;
  text-align: center;
  text-decoration: none }

/*
a:link {
  text-decoration: underline;
  color: #cccccc;
  font-weight: bold; }

a:visited {
  color: #cccccc;
  font-weight: bold; }

a:active {
  text-decoration: none; }

a:hover {
  color: #dddddd; }*/
 
#container_main {
  width: 1066px;
  height: 552px;
  margin: 0 auto;
  /*margin: 0px auto;*/
}

#container_bottom {
  position: absolute;
  Bottom: 5%;
  width: 45%; }

#modal_bar {
  width: auto;
  height: 40px;
  padding: 5px 0px 0px 10px;
}

#empty_modal_bar {
  width: auto;
  height: 10px;
  padding: 5px 0px 0px 10px;
}

.modal_label {
  background-color: white;
  color: #3c2d61;
  height: 25px;
  width: 470px;
  padding-top: 5px;
  border-bottom: 1px solid #cccccc;
}

.modal_label span{
  font-size: 14px;
  background-color: white;
  color: #3c2d61;
}

.green {
  color: #BED73D; }

.grayC {
  color: #cccccc; }

.grayA {
  color: #aaaaaa; }

#page {
  height: 100%;
  position: relative;}

#logo {
  margin-right: 153px;
  width: 240px;
  height: 90px; }

#logo img{
  padding-top: 8px;
  left: 25px;
  width: 240px;
  height: 75px; }

#logo_10i9 {
  padding-top: 2px;
  background: url("10i9.png") no-repeat center right;
  width: 235px;
  height: 19px;
  background-size: 25%; }

#logo_10i9 span {
  width: 165px
}

#logo_cliente {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 104px;
  height: 90px;}

#logo_cliente img{
  background-repeat: no-repeat;
  background-position: center;
  width: 104px;
  height: 90px;}

#dash {
  width: 1066px;
  height: 90px;
  margin: 0px auto;
  border-bottom: 1px solid #BBBBBB;
  display: table; }

#dash_options{
  width: 1060px;
  margin: 0px auto;
  display: table; }

#logout {
  height: 90px;
  width: 40px;
  text-align: right; }

#logout a{
  font-size: 15px;
  color: #6b6b6b;
  font-weight: normal; }

#logout a:hover{
  color: #1f1f1f;
}

#logout p {
  position: relative;
  top: 43%;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
#client_campain{
  width: 525px;
  height: 88px;
  border-top: 2px solid #372a57;}

#client_label{
  position: absolute;
  left: 30px;
  padding: 15px 0px 5px 0px;
  width: 460px;
  text-align: center;
  color: #392959;
  height: 24px;
  background-color: #f5f5f5;
  z-index: 3;
}

#campain_label{
  position: absolute;
  left: 30px;
  padding: 15px 0px 5px 0px;
  width: 460px;
  text-align: center;
  color: white;
  height: 24px;
  background-color: #372a57;
  z-index: 3;
}

#client-box {
  width: 525px;
  /*height: 44px;*/
}

#campain-box {
  width: 525px;
  /*height: 44px;*/
  background-color: #372a57;
}

#client-box select {
  position: relative;
  background-color: #f5f5f5;
  padding: 0px 0px 0px 30px;
  margin: 0px 0px 0px 10px;
  border-right: none;
  height: 43px; }
  
#campain-box select {
  position: relative;
  background-color: #372a57;
  padding: 0px 0px 0px 30px;
  margin: 0px 0px 0px 10px;
  border-right: none;
  height: 44px; }

#campain-box button {
  padding: 0px;
  margin: 0px 3px 0px 0px;
  border-radius: 15px;
  box-shadow: none;
  font-weight: bold;
  height: 29px;
  width: 29px; }

#client-box a {
  color: #392959;
  height: 29px;
  box-shadow: none;
}
  
#campain-box a {
  box-shadow: none;
  height: 29px;
  color: white;}

#campain-filter {
  background-color: #3c2d61;
  position: relative;
  width: 525px;
  height: 44px; }

#client-filter {
  background-color: #f5f5f5;
  position: relative;
  width: 525px;
  height: 44px; }

#bar {
  float: right;
  margin-right: 41px;
  height: 41px;
  width: 525px;
  background-color: #f5f5f5;}

#date-period-box {
  float: right;
  height: 26px;
  width: 230px;
  margin: 7px 10px 7px 45px;
  background-color: #6e6e6e;}

#date-period-box span {
  margin-left: 2px;
 }

#hello {
  float: left;
  color: #4e4266;
  padding-top:18px;
}

#hello a{
  color: #372a57;
  font-weight: normal; 
}

#hello a:hover{
  color: #661466;
  text-decoration: underline;
}

#campains {
  padding: 5px 0px 0px 15px;
  width: 478px;
  background: url("drop_white.png") no-repeat center left;
  background-size: auto 47%;
  color: white;
  font-weight: normal;
  border: none;
}

#select_tag_user {
  width: 478px;
  padding: 0px 0px 0px 30px;
  background: url("drop_purple.png") no-repeat center left;
  background-size: auto 47%;
  font-weight: normal;
  color: #392959;
  border: none;
}

#remove_logo {
  cursor: pointer;
  width: 24px; 
  height: 28px;
  background-color: #dedede;
  margin-top: 3px;
  color: #6e6e6e;
  height: 21px;
  font-size: 12px;
  font-weight: bold;
  padding-top: 7px;
}

#logo_info {
  font-size: 13px;
  color: #6e6e6e;
  padding: 2px 0px 0px 5px;
}

#slogan {
  left: 50%;
  font-size: 30px;
  margin-left: 6em;
  /*set to a negative number 1/2 of your width*/
  margin-top: -15px;
  font-style: normal; }

#footer {
  color: white;
  width: 100%;
  height: 48px;
  background-color: #392a57;
  bottom: 0;
  position: fixed; }

#footer_content{
  width: 1060px;
  margin: 0px auto;
}

#footer_content span {
  margin: 16px 12px 0px 0px;
  font-weight: bold;
  font-size: 13px;
}

#footer_content a {
  color: white;
}

.clear {
  clear: both; }

.fLeft {
  float: left; }

.fRight {
  float: right; }

.marginTop_5 {
  margin-top: 5px; }

.marginTop_15 {
  margin-top: 15px; }

.text_underline {
  text-decoration: underline; }

#cancel {
  color: white;
  border: 1px solid #8e8e8e;
  background-color: #8e8e8e;
  height: 28px;
  font-size: 14px;
  width: 120px;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  padding-top: 10px; }

#cancel:hover{
  border: 1px solid #6e6e6e;
  cursor: pointer;
  color: white;
  background-color: #6e6e6e;
}

.delete_bt {
  color: #cccccc;
  border: 2px solid #888888;
  background-color: #888888;
  border-radius: 20px;
  font-weight: bold;
  height: 34px;
  font-size: 18px;
  width: 120px;
  padding: 0px;
  margin: 0px 20px 0px 0px; }

.hidden {
    display: none;
}

.font20 {
  font-size: 20px; }

.menu_selected {
  border-top: 5px solid #372a57; 	
  /*color: #eeeeee; */
  }

.message {
  color: #d80101;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 13px;
  text-align: center; }

.field_required {
  color: #6e6e6e;
  font-size: 14px;
  padding-left: 10px; }

#user_type {
  margin-top: 1em;
  margin-left: 16em; }

.left_button {
  height: 23px;
  padding-top: 5px; }

.pointer {
  cursor: pointer; }

.bold {
  font-weight: bold; }

.title {
  background-color: #333333;
  border-radius: 7px;
  padding: 2px 15px 2px 15px;
  height: 26px;
  font-weight: bold;
  color: #eeeeee;
  margin-bottom: 10px; }

.title p {
  color: #eeeeee;
  margin-top: 3px; }

.title button {
  padding: 0px 10px 0px 10px;
  height: 25px;
  width: 25px;
  margin: 0px; }

.select_filter.customSelect {
  font-size: 14px;
  background-color: #f5f0de;
  color: #7c7c7c;
  padding: 1px 2px 1px 4px;
  border: 1px solid #888888;
  -moz-border-radius: 10px;
  -webkit-border-radius: 5px;
  border-radius: 10px; }

.styled.customSelect {
  height: 18px;
  font-size: 14px;
  font-weight: bold;
  background-color: #f5f0de;
  color: #7c7c7c;
  padding: 5px 3px 5px 12px;
  margin: 3px 0px 3px 14px;
  border: 2px solid #888888;
  -moz-border-radius: 10px;
  -webkit-border-radius: 5px;
  border-radius: 15px; }

.customSelect.changed {
  background-color: #f0dea4; }

.customSelectInner {
  background-image: url("arrow_down.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 18px; }

/*.close {
  background-image: url("close.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%; }

.close:hover {
  background-image: url("close_bright.png"); }*/
.add_client {
  margin-right: 10px;
  padding: 15px 0px 0px 0px;
  width: 22px; 
  background: url("add_purple.png") no-repeat center right;
  background-repeat: no-repeat;
  background-size: 95%; }

.add_campain {
  margin-right: 10px;
  padding: 15px 0px 0px 0px;
  width: 22px; 
  background: url("add_white.png") no-repeat center right;
  background-repeat: no-repeat;
  background-size: 95%; }

#import-box, #export-box{
  float: left;
  margin: 7px 5px 7px 10px;
  height: 26px;
  width: 105px;
  /*padding-right: 15px;*/
  background-color: #6e6e6e;
}

#import-box a {
  background: url("import-arrow.png") no-repeat center left;
  font-size: 16px;
  color: #d6d6d6;
  font-weight: normal;
  position: relative;
  height: 26px;
  line-height: 26px;
  width: 92px;
  padding-left: 15px; 
}

#export-box span{
  background: url("import-arrow.png") no-repeat center left;
  font-size: 16px;
  color: #d6d6d6;
  font-weight: normal;
  position: relative;
  height: 26px;
  line-height: 26px;
  width: 99px;
  padding-left: 15px; 
}

.field{
  margin: 10px 0px 0px 25px; 
}

.marginLeft25{
	margin-left: 25px;
}

.marginTop3{
	margin-top: 3px;
}

#input_style p {
  background: #aaaaaa;
  color: #eeeeee;
  border: 2px solid #888888;
  border-radius: 15px;
  padding: 4px 12px 6px 9px;
  height: 18px;
  font-size: 18px;
  font-weight: bold; }

#date_field input{
  width: 169px;
}

#nav {
  font-size: 10px;
  margin:0px 0 0 0px;
  padding:0;
  list-style:none;
  line-height: 25px;
  }    

#nav span{
  padding: 4px 15px 5px 30px;
}

#nav li {
  float:left;
  display:block;
  position:relative;
  z-index:5;
}

#nav li a {
  display:block;
  height:25px;
  text-decoration:none;
  text-align:center;
  font-size: 13px;
  width: 100px;
  }    

#nav li a:hover {
  color:#fff;
    background: #6E6E6E;
  }

#nav a.selected {
  color:#fff;
    background: #111;
  }

#nav ul {
  position:absolute;
  left:0;
  display:none;
  padding:0;
  width:105px;
  list-style:none;
  background: #fff;
  }

#nav ul li *{
  width:103px;  
  float:left;
  border-left:1px solid #111;
  border-right:1px solid #111;
  border-top:1px solid #ddd;
}

#nav ul li.underline {
  width:105px;
  border-bottom:1px solid #111;
  }

#nav ul a {
  width:103px;
  display:block;  
  height:25px;
  color:#111;
  background:none;
  }

#nav ul a:hover {
  text-decoration:none;    
  }

#spinner {
  position: absolute;
  background-color: white;
  width: 350px;
  height: 150px;
  padding-top: 80px;
  margin-left: 360px;
  z-index: 15;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 15px #000;
  -moz-box-shadow: 0 0 15px #000;
  -o-box-shadow: 0 0 15px #000;
  -ms-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;
  border-top: 5px solid #372a57;
}

#bloqueio_fundo{
	top: 0px; 
	right: 0px; 
	bottom: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	position: fixed; 
	z-index: 5; 
	background-color: rgb(255, 255, 255); 
	opacity: 0.8; 
	background-position: initial initial; 
	background-repeat: initial initial; "
}
