// Place all the styles related to the campains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tale_container table {
  width: 100%;
  border-spacing: 0px;}

#tale_container table th {
  font-size: 13px;
  background-color: #392a57;
  // border: 1px solid #333333;
  color: #e3e3e3;
  border-left: 1px solid #cccccc;
  border-right: none;
  padding: 6px 10px 3px 10px;
  font-weight: normal;}

#tale_container table th.first_child {
  border-left: none; }

#tale_container table th.last_child {}

#tale_container table th.left_child {
  text-align: left; }

#tale_container table th.center_child {
  text-align: center; }

#tale_container table th.padding_left {
  padding-right: 10px; 
  padding-left: 10px; }

#tale_container table th.only_child {
  color: #392a57;
  padding: 3px 0px 4px 0px;
  border: 0px;
  border-bottom: 7px solid white; }

#tale_container table td.left_child {
  text-align: left; }

#tale_container table td.center_child {
  text-align: center; }

#tale_container table td.first_child {
  border-left: none; }

#tale_container table td.padding_left {
  padding-right: 10px; 
  padding-left: 10px; }

#tale_container table tbody tr.even td {
    background: #f0f0f0;
}

#tale_container table tbody tr.odd td {
    background: white;
}

#tale_container table tr:hover td {
  background-color: #cccccc; }

#tale_container table td {
  font-size: 12px;
  height: 31px;
  background-color: #FFFFFF;
  border-left: 1px solid #cccccc;
  padding-top: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid #cccccc; }


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
  background: url('sort_asc.png') no-repeat center right;
}

.sorting_desc {
  background: url('sort_desc.png') no-repeat center right;
}

.sorting {
  background: url('sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
  background: url('sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
  background: url('sort_desc_disabled.png') no-repeat center right;
}
 
table.display thead th:active,
table.display thead td:active {
  outline: none; }

#div_table table th {
  background-color: #888888;
}

#tale_container table tr:hover td {
  background-color: #cccccc;
}

#charts, #livescreen {
  width: 100%;
  height: 175px;
  border-top: 12px solid #fff;
  text-align: center;
  /*display: table;*/
}

.chart_divider{
  display: inline-block;
  background-color: #aaaaaa;
  float: left;
  height: 175px;
  border-left: 10px solid #ffffff;
  text-align: center;
  margin: 0;
}

.impact_box, .clicks_box {
  display: inline-block;
  background-color: #661466;
  float: left;
  height: 170px;
  border-top: 5px solid #661466;
  border-bottom: 10px solid #ffffff;
  text-align: center;
  margin: 0;
  padding: 1px; }

.day_box, .broadcasts_box {
  display: inline-block;
  background-color: #f5f5f5;
  float: left;
  height: 170px;
  border-top: 5px solid #372a57;
  border-bottom: 10px solid #ffffff;
  text-align: center;
  margin: 0;
  padding: 1px; }

.delivered_box {
  background-color: #f5f5f5;
  float: left;
  height: 170px;
  width: 173px;
  border-top: 5px solid #372a57;
  text-align: center;
  margin: 0;
  padding: 1px;
}

.region_box, .regionLivescreen_box, .operator_box{
  background-color: #f5f5f5;
  float: left;
  height: 170px;
  width: 238px;
  border-top: 5px solid #372a57;
  text-align: center;
  margin: 0;
  padding: 1px;
}

.broadcast_clicks_box  {
  background-color: #f5f5f5;
  float: left;
  height: 170px;
  width: 218px;
  border-top: 5px solid #372a57;
  text-align: center;
  margin: 0;
  padding: 1px;
}

#delivered {
  width: 175px;
  height: 144px;
}

#region, #regionLivescreen, #operator {
  height: 144px;
  width: 238px;
}

#impacts{
  width: 195px;
  display: inline-block;
  background-color: #661466;
  color: white; }

#clicks{
  width: 220px;
  display: inline-block;
  background-color: #661466;
  color: white; }

#days, #broadcasts {
  width: 170px;
  display: inline-block;
  background-color: #f5f5f5;
  color: #372a57; }

#impacts h2, #clicks h2 {
  font-size: 14px;
  font-weight: normal;
  color: white;
  padding-top:10px;}


#days h2, .delivered_box h2, .region_box  h2, .regionLivescreen_box  h2, .operator_box  h2, #broadcast_clicks h2, #broadcasts h2  {
  font-size: 14px;
  font-weight: normal;
  color: #372a57;
  padding-top:10px;}

#big_number_impact, #big_number_clicks {
  font-size: 40px;
  color: white;
  padding: 40px 5px 5px 0px; }

#big_number_day {
  font-size: 40px;
  color: #372a57;
  padding: 40px 5px 5px 0px; }

.campain_message {
  position: absolute;
  top: 52%;
  left:40%;
  font-size:20px; 
}

#campain_type select{
  width: 195px;
  height: 32px;
  border-radius: 20px;
  margin: 0px;
}
