#date-range {
  position:relative;
}
#date-range-field {
  width: 200px;
  height: 25px;
  overflow: hidden;
  position: relative;
  cursor:pointer;
/*   border: 1px solid #CCCCCC; */
  margin-top:3px;
  margin-left:16px;
  border-radius: 15px 15px 15px 15px;
}
#date-range-field a  {
  position: absolute;
  top: 5px;
  width: 25px;
  height: 20px;
  top: 0;
  right: 0;
  text-decoration: none;
  margin-right:7px;
}
#date-range-field span {
  font-size: 16px;
  font-weight: normal;
  color: #d6d6d6;
  position: relative;
  top: -2px;
  height: 26px;
  line-height: 26px;
  width: 250px;
  text-align: center;
}
#datepicker-calendar {
  -webkit-box-shadow: 8px 8px 8px -4px #888888;
  -webkit-box-shadow: 8px 8px 8px -4px #888888;
  box-shadow: 8px 8px 8px -4px #888888;
  position: absolute;
  top: 24px;
  left: -54px;
  overflow: hidden;
  width: 320px;
  height:134px;
  background-color: #F7F7F7;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  display:none;
  padding:2px 6px 2px 6px;
  z-index: 5;
}
    
/* Remove default border from the custom widget since we're adding our own. */
#datepicker-calendar div.datepicker {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}
