fieldset { padding: .6em 0;border:0;}
legend { font-size: 12px; font-weight: normal; color: #555; padding: .5em 1em .5em 0; background: #fff;  }

/*custom upload elements*/
.customfile-input { position: absolute; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;  }

.customfile { background: #666; cursor: pointer; overflow: hidden; margin-top: 3px; padding: 0px 2px 0px 2px; position: relative; }
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block; margin: 0px; font-size: 12px; color: #ddd; padding: 7px; }
.customfile-feedback-populated { color: #fff; font-style: normal; font-weight: normal; padding-left: 20px; background: url(icon-generic.gif) left 4px no-repeat; }
.customfile-button { background: #333 url(bg-submit.gif) bottom repeat-x;  color: #fff; font-weight: normal; float: right; width: 50px; height: 14px; margin-top: 2px; padding: 5px 7px;  text-align: center; text-decoration: none; font-size: 12px;}
.customfile-hover .customfile-button, .customfile-focus .customfile-button  { color:#111; background: #aaa url(bg-btn.png) bottom repeat-x; }
.customfile-focus .customfile-button { outline: 1px dotted #ccc;}

/*file type icons*/
.customfile-ext-jpg, .customfile-ext-gif, .customfile-ext-png, .customfile-ext-jpeg, .customfile-ext-bmp { background-image: url(icon-image.gif);}
.customfile-ext-mp3, .customfile-ext-mp4, .customfile-ext-mov, .customfile-ext-swf, .customfile-ext-wav, .customfile-ext-m4v { background-image: url(icon-media.gif);}
.customfile-ext-zip, .customfile-ext-tar, .customfile-ext-sit { background-image: url(icon-zip.gif);}