#dash_login {
  width: 1066px;
  height: 17em;
  margin: 0px auto;
  border-bottom: 1px solid #BBBBBB;}

#brand {
  position: relative;
  top: 48.5%;
  left: 28.1%;
  font-size: 65px;
  width: 500px; }

#main_image {
  background-size: 100%;
  width: 440px;
  height: 137px; }

#main_image img {
  width: 440px;
  height: 137px; }

#dash_form {
  width: 1066px;
  margin: 0px auto;}

#form_login {
  position: relative;
  margin-top: 2em;
  left: 28%;
  width: 425px;
  height: 18em; }

#form_login input {
 }

#form_login input[type="submit"] {
  width: 120px;
  height: 40px;
  margin-right: 2px; }

#form_login input[type="text"], #form_login input[type="password"] {
  color: white;
  border: 1px solid #6e6e6e;
  background-color: #6e6e6e;
  margin: 3px 0px 12px 0px;
  width: 370px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  font-weight: normal;}

#form_login a {
  text-decoration: underline;
  display: inline-block;
  color: #aaaaaa;
  margin-left: 25px;
  text-align: center;
  color: #3c2d61;
  font-size: 15px; }

#form_login label {
  font-size: 16px; }

#form_login a:link {
  font-weight: bold; }

#form_login a:hover {
  color: #442682;
  font-weight: bold; }

#form_login a:active {
  text-decoration: none; }

