// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_message {
  position: absolute;
  top: 52%;
  left:40%;
  font-size:20px; 
}
