<%= form_for(@info) do |f| %>
  <% if @info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@info.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
      <% @info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :impact %><br />
    <%= f.text_field :impact %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :hour %><br />
    <%= f.datetime_select :hour %>
  </div>
  <div class="field">
    <%= f.label :phraseology %><br />
    <%= f.text_field :phraseology %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :operator %><br />
    <%= f.text_field :operator %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :broadcast %><br />
    <%= f.number_field :broadcast %>
  </div>
  <div class="field">
    <%= f.label :clicks %><br />
    <%= f.number_field :clicks %>
  </div>
  <div class="field">
    <%= f.label :campain_id %><br />
    <%= f.number_field :campain_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
