<h1>Listing infos</h1>

<table>
  <tr>
    <th>Impact</th>
    <th>Date</th>
    <th>Hour</th>
    <th>Phraseology</th>
    <th>Status</th>
    <th>Operator</th>
    <th>Region</th>
    <th>Broadcast</th>
    <th>Clicks</th>
    <th>Campain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @infos.each do |info| %>
  <tr>
    <td><%= info.impact %></td>
    <td><%= info.date %></td>
    <td><%= info.hour %></td>
    <td><%= info.phraseology %></td>
    <td><%= info.status %></td>
    <td><%= info.operator %></td>
    <td><%= info.region %></td>
    <td><%= info.broadcast %></td>
    <td><%= info.clicks %></td>
    <td><%= info.campain_id %></td>
    <td><%= link_to 'Show', info %></td>
    <td><%= link_to 'Edit', edit_info_path(info) %></td>
    <td><%= link_to 'Destroy', info, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Info', new_info_path %>
