<p id="notice"><%= notice %></p>

<p>
  <b>Impact:</b>
  <%= @info.impact %>
</p>

<p>
  <b>Date:</b>
  <%= @info.date %>
</p>

<p>
  <b>Hour:</b>
  <%= @info.hour %>
</p>

<p>
  <b>Phraseology:</b>
  <%= @info.phraseology %>
</p>

<p>
  <b>Status:</b>
  <%= @info.status %>
</p>

<p>
  <b>Operator:</b>
  <%= @info.operator %>
</p>

<p>
  <b>Region:</b>
  <%= @info.region %>
</p>

<p>
  <b>Broadcast:</b>
  <%= @info.broadcast %>
</p>

<p>
  <b>Clicks:</b>
  <%= @info.clicks %>
</p>

<p>
  <b>Campain:</b>
  <%= @info.campain_id %>
</p>


<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
